CREATE DATABASE [hipermercado_fino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hipermercado_fino', FILENAME = N'C:\BD-Proyecto final\MSSQL12.BDPFINAL2\MSSQL\DATA\hipermercado_fino.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hipermercado_fino_log', FILENAME = N'C:\BD-Proyecto final\MSSQL12.BDPFINAL2\MSSQL\DATA\hipermercado_fino_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
 COLLATE Modern_Spanish_100_CI_AS
GO
USE [hipermercado_fino]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [hipermercado_fino] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
